.navbar{
display: flex;
justify-content: space-between;
/* position: fixed;
top: 0;
  right: 0;
  left: 0; */
box-shadow: 5px 10px 18px #888888;
}
.listElements >ul{
list-style-type: none;
display: flex;
}
.listElements>ul>li{
    padding: 10px;
}
.logo{
   width: 100px  ;
}